:root {
  --delay: 0s;
}

.hero {
  height: 1000px;
  background-image: url("../../assets/img/web/Group\ 2057.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: bg-flip 1s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
  -webkit-animation: bg-flip 1s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

html,
body {
  overflow-x: hidden;
}

* {
  scroll-behavior: smooth;
}

a.nav-link.scroll {
  background-image: linear-gradient(to right, #ba81cf, #6886d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-main {
  height: 100vh;
  backdrop-filter: blur(50px);
}

.hero-image {
  height: 100%;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  color: white;
}

.cta-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

nav.backdrop-filter {
  backdrop-filter: blur(15px);
  background-color: #f7f7f717;
}

body {
  display: flex;
  flex-direction: column;
}

.partners-container {
  width: 50rem;
  overflow: hidden;
}

.partners-img-containers {
  display: inline-flex;
  width: 30rem;
  height: 200px;
}

.partners-img-containers:hover {
  animation-play-state: paused;
}

.partners-img {
  width: 150px;
  height: 150px;
  filter: grayscale(100%);
  padding-left: 0.5rem;
  border-radius: 5px;
}

.partners-img.slide,
.partners-img:hover {
  filter: grayscale(0%);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 1;
}

.hero-main {
  background-image: url("../../assets/img/web/Group2036.svg");
  background-position: center;
  position: absolute;
  background-size: 100px 80px;
  background-repeat: no-repeat;

  background-size: cover;
}

.hero-main-pic {
  height: 54rem;
}

.dashboard-img {
  height: 40rem;
}

.pricing {
  background-image: url("../../assets/img/web/Mask\ Group\ 58.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 500px;
  background-blend-mode: color-dodge;
  background-color: darkslateblue;
}

.btn-linear-primary,
.btn-linear-primary:focus,
.btn-linear-primary:hover,
.bg-linear-primary {
  background-image: -webkit-linear-gradient(#5b2aee, #935ee4);
  color: aqua;
}

.text-aqua {
  color: aqua;
}

.features {
  background: #f0fffb;
}

.card-whwd {
  height: 5rem;
  width: 5rem;
}

.why .card {
  min-height: 334px;
}

.slide {
  animation: sli 20s steps(1000, start) alternate infinite;
}
